@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --background: theme(colors.white);
    --foreground: theme(colors.gray[950]) --accent: theme(colors.indigo[700]);
  }

  .dark {
    --background: theme(colors.gray[950]);
    --foreground: theme(colors.white);
  }
}

input[type="hidden"] {
  @apply absolute h-0;
}
