@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --background: theme(colors.white);
    --foreground: theme(colors.zinc[950]);
    --soft: theme(colors.zinc[500]);
    --accent: theme(colors.blue[700]);
    --accent-variant: theme(colors.blue[800]);
    --subtle: theme(colors.zinc[50]);
    --subtle-foreground: rgba(31, 41, 55, 0.99);
    --border: theme(colors.zinc[200]);
    --danger: theme(colors.red[500]);
  }

  .dark {
    --background: theme(colors.zinc[950]);
    --foreground: theme(colors.white);
    --soft: theme(colors.zinc[400]);
    --accent: theme(colors.blue[600]);
    --accent-variant: theme(colors.blue[700]);
    --subtle: rgba(31, 41, 55, 0.3);
    --subtle-foreground: theme(colors.zinc[200]);
    --border: theme(colors.zinc[800]);
    --danger: theme(colors.red[400]);
  }
}

html,
body {
  height: 100%;
}

input[type="hidden"] {
  @apply absolute h-0;
  color: #1f2937;
}
