@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --background: theme(colors.white);
    --foreground: theme(colors.gray[950]);
    --text-soft: theme(colors.gray[500]) --accent: theme(colors.indigo[700]);
    --subtle: theme(colors.gray[50]);
    --subtle-foreground: rgba(31, 41, 55, 0.99);
    --border: theme(colors.gray[200]);
  }

  .dark {
    --background: theme(colors.gray[950]);
    --foreground: theme(colors.white);
    --text-soft: theme(colors.gray[300]);
    --accent: theme(colors.indigo[400]);
    --subtle: rgba(31, 41, 55, 0.3);
    --subtle-foreground: theme(colors.gray[200]);
    --border: theme(colors.gray[800]);
  }
}

html,
body {
  height: 100%;
}

input[type="hidden"] {
  @apply absolute h-0;
  color: #1f2937;
}
